.container880 {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.sectionName {
  --section-max-width: 9999px;
  --one-unit: 1cqw;
  --wst-button-color-fill-primary: rgb(var(--color_48));
  --wst-button-color-border-primary: rgb(var(--color_49));
  --wst-button-color-text-primary: rgb(var(--color_50));
  --wst-button-color-fill-primary-hover: rgb(var(--color_51));
  --wst-button-color-border-primary-hover: rgb(var(--color_52));
  --wst-button-color-text-primary-hover: rgb(var(--color_53));
  --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
  --wst-button-color-border-primary-disabled: rgb(var(--color_55));
  --wst-button-color-text-primary-disabled: rgb(var(--color_56));
  --wst-button-color-fill-secondary: rgb(var(--color_57));
  --wst-button-color-border-secondary: rgb(var(--color_58));
  --wst-button-color-text-secondary: rgb(var(--color_59));
  --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
  --wst-button-color-border-secondary-hover: rgb(var(--color_61));
  --wst-button-color-text-secondary-hover: rgb(var(--color_62));
  --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
  --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
  --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
  --wst-color-fill-base-1: rgb(var(--color_36));
  --wst-color-fill-base-2: rgb(var(--color_37));
  --wst-color-fill-base-shade-1: rgb(var(--color_38));
  --wst-color-fill-base-shade-2: rgb(var(--color_39));
  --wst-color-fill-base-shade-3: rgb(var(--color_40));
  --wst-color-fill-accent-1: rgb(var(--color_41));
  --wst-color-fill-accent-2: rgb(var(--color_42));
  --wst-color-fill-accent-3: rgb(var(--color_43));
  --wst-color-fill-accent-4: rgb(var(--color_44));
  --wst-color-fill-background-primary: rgb(var(--color_11));
  --wst-color-fill-background-secondary: rgb(var(--color_12));
  --wst-color-text-primary: rgb(var(--color_15));
  --wst-color-text-secondary: rgb(var(--color_14));
  --wst-color-action: rgb(var(--color_18));
  --wst-color-disabled: rgb(var(--color_39));
  --wst-color-title: rgb(var(--color_45));
  --wst-color-subtitle: rgb(var(--color_46));
  --wst-color-line: rgb(var(--color_47));
  --wst-font-style-h2: var(--font_2);
  --wst-font-style-h3: var(--font_3);
  --wst-font-style-h4: var(--font_4);
  --wst-font-style-h5: var(--font_5);
  --wst-font-style-h6: var(--font_6);
  --wst-font-style-body-large: var(--font_7);
  --wst-font-style-body-medium: var(--font_8);
  --wst-font-style-body-small: var(--font_9);
  --wst-font-style-body-x-small: var(--font_10);
  --color_0: 255,255,255;
  --color_1: 255,255,255;
  --color_2: 0,0,0;
  --color_3: 237,28,36;
  --color_4: 0,136,203;
  --color_5: 255,203,5;
  --color_6: 114,114,114;
  --color_7: 176,176,176;
  --color_8: 255,255,255;
  --color_9: 114,114,114;
  --color_10: 176,176,176;
  --color_11: 255,246,239;
  --color_12: 2,202,129;
  --color_13: 142,130,121;
  --color_14: 86,72,62;
  --color_15: 29,14,3;
  --color_16: 245,163,163;
  --color_17: 2,202,129;
  --color_18: 1,75,63;
  --color_19: 149,0,0;
  --color_20: 75,0,0;
  --color_21: 173,198,248;
  --color_22: 131,168,240;
  --color_23: 21,93,233;
  --color_24: 14,62,155;
  --color_25: 7,31,78;
  --color_26: 247,241,178;
  --color_27: 240,230,139;
  --color_28: 232,213,37;
  --color_29: 155,142,25;
  --color_30: 77,71,12;
  --color_31: 175,220,206;
  --color_32: 128,185,167;
  --color_33: 58,150,121;
  --color_34: 39,100,81;
  --color_35: 19,50,40;
  --color_36: 255,246,239;
  --color_37: 29,14,3;
  --color_38: 199,188,180;
  --color_39: 142,130,121;
  --color_40: 86,72,62;
  --color_41: 1,75,63;
  --color_42: 2,202,129;
  --color_43: 255,94,26;
  --color_44: 251,211,192;
  --color_45: 29,14,3;
  --color_46: 29,14,3;
  --color_47: 29,14,3;
  --color_48: 1,75,63;
  --color_49: 1,75,63;
  --color_50: 255,246,239;
  --color_51: 2,202,129;
  --color_52: 1,75,63;
  --color_53: 1,75,63;
  --color_54: 142,130,121;
  --color_55: 142,130,121;
  --color_56: 255,246,239;
  --color_57: 2,202,129;
  --color_58: 1,75,63;
  --color_59: 1,75,63;
  --color_60: 1,75,63;
  --color_61: 1,75,63;
  --color_62: 255,246,239;
  --color_63: 142,130,121;
  --color_64: 142,130,121;
  --color_65: 255,246,239;
  --font_0: normal normal bold 60px/1.4em fraunces,serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  --font_2: normal normal bold 52px/1.4em fraunces,serif;
  --font_3: normal normal bold 42px/1.4em fraunces,serif;
  --font_4: normal normal bold 30px/1.4em fraunces,serif;
  --font_5: normal normal bold 28px/1.4em fraunces,serif;
  --font_6: normal normal bold 22px/1.4em fraunces,serif;
  --font_7: normal normal bold 24px/1.4em poppins-extralight,poppins,sans-serif;
  --font_8: normal normal bold 20px/1.4em poppins-extralight,poppins,sans-serif;
  --font_9: normal normal bold 16px/1.4em poppins-extralight,poppins,sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  --wix-ads-height: 0px;
  --sticky-offset: 0px;
  --wix-ads-top-height: 0px;
  --vh-unit: calc( (100vh - 0px) / 100);
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
  --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
  --scrollbar-width: 0px;
  --pinned-layers-in-page: 0;
  --top-offset: 0px;
  --header-height: 118px;
  --pinned-layer-in-container: 51;
  --above-all-in-container: 49;
  --transition-duration: 700ms;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  text-size-adjust: 100%;
  direction: var(--text-direction);
  overflow-wrap: break-word;
  text-align: start;
  --blendMode: normal;
  --min-height: 6px;
  pointer-events: auto;
  font: var(--font_9);
  font-size: 16px;
  color: rgb(var(--color_43));
  letter-spacing: 0.2em;
  font-weight: normal;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: poppins-semibold,poppins,sans-serif;
}

.sectionTitle {
  --section-max-width: 9999px;
  --one-unit: 1cqw;
  --wst-button-color-fill-primary: rgb(var(--color_48));
  --wst-button-color-border-primary: rgb(var(--color_49));
  --wst-button-color-text-primary: rgb(var(--color_50));
  --wst-button-color-fill-primary-hover: rgb(var(--color_51));
  --wst-button-color-border-primary-hover: rgb(var(--color_52));
  --wst-button-color-text-primary-hover: rgb(var(--color_53));
  --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
  --wst-button-color-border-primary-disabled: rgb(var(--color_55));
  --wst-button-color-text-primary-disabled: rgb(var(--color_56));
  --wst-button-color-fill-secondary: rgb(var(--color_57));
  --wst-button-color-border-secondary: rgb(var(--color_58));
  --wst-button-color-text-secondary: rgb(var(--color_59));
  --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
  --wst-button-color-border-secondary-hover: rgb(var(--color_61));
  --wst-button-color-text-secondary-hover: rgb(var(--color_62));
  --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
  --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
  --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
  --wst-color-fill-base-1: rgb(var(--color_36));
  --wst-color-fill-base-2: rgb(var(--color_37));
  --wst-color-fill-base-shade-1: rgb(var(--color_38));
  --wst-color-fill-base-shade-2: rgb(var(--color_39));
  --wst-color-fill-base-shade-3: rgb(var(--color_40));
  --wst-color-fill-accent-1: rgb(var(--color_41));
  --wst-color-fill-accent-2: rgb(var(--color_42));
  --wst-color-fill-accent-3: rgb(var(--color_43));
  --wst-color-fill-accent-4: rgb(var(--color_44));
  --wst-color-fill-background-primary: rgb(var(--color_11));
  --wst-color-fill-background-secondary: rgb(var(--color_12));
  --wst-color-text-primary: rgb(var(--color_15));
  --wst-color-text-secondary: rgb(var(--color_14));
  --wst-color-action: rgb(var(--color_18));
  --wst-color-disabled: rgb(var(--color_39));
  --wst-color-title: rgb(var(--color_45));
  --wst-color-subtitle: rgb(var(--color_46));
  --wst-color-line: rgb(var(--color_47));
  --wst-font-style-h2: var(--font_2);
  --wst-font-style-h3: var(--font_3);
  --wst-font-style-h4: var(--font_4);
  --wst-font-style-h5: var(--font_5);
  --wst-font-style-h6: var(--font_6);
  --wst-font-style-body-large: var(--font_7);
  --wst-font-style-body-medium: var(--font_8);
  --wst-font-style-body-small: var(--font_9);
  --wst-font-style-body-x-small: var(--font_10);
  --color_0: 255,255,255;
  --color_1: 255,255,255;
  --color_2: 0,0,0;
  --color_3: 237,28,36;
  --color_4: 0,136,203;
  --color_5: 255,203,5;
  --color_6: 114,114,114;
  --color_7: 176,176,176;
  --color_8: 255,255,255;
  --color_9: 114,114,114;
  --color_10: 176,176,176;
  --color_11: 255,246,239;
  --color_12: 2,202,129;
  --color_13: 142,130,121;
  --color_14: 86,72,62;
  --color_15: 29,14,3;
  --color_16: 245,163,163;
  --color_17: 2,202,129;
  --color_18: 1,75,63;
  --color_19: 149,0,0;
  --color_20: 75,0,0;
  --color_21: 173,198,248;
  --color_22: 131,168,240;
  --color_23: 21,93,233;
  --color_24: 14,62,155;
  --color_25: 7,31,78;
  --color_26: 247,241,178;
  --color_27: 240,230,139;
  --color_28: 232,213,37;
  --color_29: 155,142,25;
  --color_30: 77,71,12;
  --color_31: 175,220,206;
  --color_32: 128,185,167;
  --color_33: 58,150,121;
  --color_34: 39,100,81;
  --color_35: 19,50,40;
  --color_36: 255,246,239;
  --color_37: 29,14,3;
  --color_38: 199,188,180;
  --color_39: 142,130,121;
  --color_40: 86,72,62;
  --color_41: 1,75,63;
  --color_42: 2,202,129;
  --color_43: 255,94,26;
  --color_44: 251,211,192;
  --color_45: 29,14,3;
  --color_46: 29,14,3;
  --color_47: 29,14,3;
  --color_48: 1,75,63;
  --color_49: 1,75,63;
  --color_50: 255,246,239;
  --color_51: 2,202,129;
  --color_52: 1,75,63;
  --color_53: 1,75,63;
  --color_54: 142,130,121;
  --color_55: 142,130,121;
  --color_56: 255,246,239;
  --color_57: 2,202,129;
  --color_58: 1,75,63;
  --color_59: 1,75,63;
  --color_60: 1,75,63;
  --color_61: 1,75,63;
  --color_62: 255,246,239;
  --color_63: 142,130,121;
  --color_64: 142,130,121;
  --color_65: 255,246,239;
  --font_0: normal normal bold 60px/1.4em fraunces,serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  --font_2: normal normal bold 52px/1.4em fraunces,serif;
  --font_3: normal normal bold 42px/1.4em fraunces,serif;
  --font_4: normal normal bold 30px/1.4em fraunces,serif;
  --font_5: normal normal bold 28px/1.4em fraunces,serif;
  --font_6: normal normal bold 22px/1.4em fraunces,serif;
  --font_7: normal normal bold 24px/1.4em poppins-extralight,poppins,sans-serif;
  --font_8: normal normal bold 20px/1.4em poppins-extralight,poppins,sans-serif;
  --font_9: normal normal bold 16px/1.4em poppins-extralight,poppins,sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  --wix-ads-height: 0px;
  --sticky-offset: 0px;
  --wix-ads-top-height: 0px;
  --vh-unit: calc( (100vh - 0px) / 100);
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
  --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
  --scrollbar-width: 0px;
  --pinned-layers-in-page: 0;
  --top-offset: 0px;
  --header-height: 118px;
  --pinned-layer-in-container: 51;
  --above-all-in-container: 49;
  --transition-duration: 700ms;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  text-size-adjust: 100%;
  direction: var(--text-direction);
  overflow-wrap: break-word;
  text-align: start;
  --blendMode: normal;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  pointer-events: auto;
  font: var(--font_3);
  color: rgb(var(--color_2));
  letter-spacing: 0em;
  margin-block: 0;
  margin: 0;
  font-size: 42px;
}

.sectionText {
  --section-max-width: 9999px;
  --one-unit: 1cqw;
  --wst-button-color-fill-primary: rgb(var(--color_48));
  --wst-button-color-border-primary: rgb(var(--color_49));
  --wst-button-color-text-primary: rgb(var(--color_50));
  --wst-button-color-fill-primary-hover: rgb(var(--color_51));
  --wst-button-color-border-primary-hover: rgb(var(--color_52));
  --wst-button-color-text-primary-hover: rgb(var(--color_53));
  --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
  --wst-button-color-border-primary-disabled: rgb(var(--color_55));
  --wst-button-color-text-primary-disabled: rgb(var(--color_56));
  --wst-button-color-fill-secondary: rgb(var(--color_57));
  --wst-button-color-border-secondary: rgb(var(--color_58));
  --wst-button-color-text-secondary: rgb(var(--color_59));
  --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
  --wst-button-color-border-secondary-hover: rgb(var(--color_61));
  --wst-button-color-text-secondary-hover: rgb(var(--color_62));
  --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
  --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
  --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
  --wst-color-fill-base-1: rgb(var(--color_36));
  --wst-color-fill-base-2: rgb(var(--color_37));
  --wst-color-fill-base-shade-1: rgb(var(--color_38));
  --wst-color-fill-base-shade-2: rgb(var(--color_39));
  --wst-color-fill-base-shade-3: rgb(var(--color_40));
  --wst-color-fill-accent-1: rgb(var(--color_41));
  --wst-color-fill-accent-2: rgb(var(--color_42));
  --wst-color-fill-accent-3: rgb(var(--color_43));
  --wst-color-fill-accent-4: rgb(var(--color_44));
  --wst-color-fill-background-primary: rgb(var(--color_11));
  --wst-color-fill-background-secondary: rgb(var(--color_12));
  --wst-color-text-primary: rgb(var(--color_15));
  --wst-color-text-secondary: rgb(var(--color_14));
  --wst-color-action: rgb(var(--color_18));
  --wst-color-disabled: rgb(var(--color_39));
  --wst-color-title: rgb(var(--color_45));
  --wst-color-subtitle: rgb(var(--color_46));
  --wst-color-line: rgb(var(--color_47));
  --wst-font-style-h2: var(--font_2);
  --wst-font-style-h3: var(--font_3);
  --wst-font-style-h4: var(--font_4);
  --wst-font-style-h5: var(--font_5);
  --wst-font-style-h6: var(--font_6);
  --wst-font-style-body-large: var(--font_7);
  --wst-font-style-body-medium: var(--font_8);
  --wst-font-style-body-small: var(--font_9);
  --wst-font-style-body-x-small: var(--font_10);
  --color_0: 255,255,255;
  --color_1: 255,255,255;
  --color_2: 0,0,0;
  --color_3: 237,28,36;
  --color_4: 0,136,203;
  --color_5: 255,203,5;
  --color_6: 114,114,114;
  --color_7: 176,176,176;
  --color_8: 255,255,255;
  --color_9: 114,114,114;
  --color_10: 176,176,176;
  --color_11: 255,246,239;
  --color_12: 2,202,129;
  --color_13: 142,130,121;
  --color_14: 86,72,62;
  --color_15: 29,14,3;
  --color_16: 245,163,163;
  --color_17: 2,202,129;
  --color_18: 1,75,63;
  --color_19: 149,0,0;
  --color_20: 75,0,0;
  --color_21: 173,198,248;
  --color_22: 131,168,240;
  --color_23: 21,93,233;
  --color_24: 14,62,155;
  --color_25: 7,31,78;
  --color_26: 247,241,178;
  --color_27: 240,230,139;
  --color_28: 232,213,37;
  --color_29: 155,142,25;
  --color_30: 77,71,12;
  --color_31: 175,220,206;
  --color_32: 128,185,167;
  --color_33: 58,150,121;
  --color_34: 39,100,81;
  --color_35: 19,50,40;
  --color_36: 255,246,239;
  --color_37: 29,14,3;
  --color_38: 199,188,180;
  --color_39: 142,130,121;
  --color_40: 86,72,62;
  --color_41: 1,75,63;
  --color_42: 2,202,129;
  --color_43: 255,94,26;
  --color_44: 251,211,192;
  --color_45: 29,14,3;
  --color_46: 29,14,3;
  --color_47: 29,14,3;
  --color_48: 1,75,63;
  --color_49: 1,75,63;
  --color_50: 255,246,239;
  --color_51: 2,202,129;
  --color_52: 1,75,63;
  --color_53: 1,75,63;
  --color_54: 142,130,121;
  --color_55: 142,130,121;
  --color_56: 255,246,239;
  --color_57: 2,202,129;
  --color_58: 1,75,63;
  --color_59: 1,75,63;
  --color_60: 1,75,63;
  --color_61: 1,75,63;
  --color_62: 255,246,239;
  --color_63: 142,130,121;
  --color_64: 142,130,121;
  --color_65: 255,246,239;
  --font_0: normal normal bold 60px/1.4em fraunces,serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  --font_2: normal normal bold 52px/1.4em fraunces,serif;
  --font_3: normal normal bold 42px/1.4em fraunces,serif;
  --font_4: normal normal bold 30px/1.4em fraunces,serif;
  --font_5: normal normal bold 28px/1.4em fraunces,serif;
  --font_6: normal normal bold 22px/1.4em fraunces,serif;
  --font_7: normal normal bold 24px/1.4em poppins-extralight,poppins,sans-serif;
  --font_8: normal normal bold 20px/1.4em poppins-extralight,poppins,sans-serif;
  --font_9: normal normal bold 16px/1.4em poppins-extralight,poppins,sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  --wix-ads-height: 0px;
  --sticky-offset: 0px;
  --wix-ads-top-height: 0px;
  --vh-unit: calc( (100vh - 0px) / 100);
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
  --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
  --scrollbar-width: 0px;
  --pinned-layers-in-page: 0;
  --top-offset: 0px;
  --header-height: 118px;
  --pinned-layer-in-container: 51;
  --above-all-in-container: 49;
  --transition-duration: 700ms;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  text-size-adjust: 100%;
  direction: var(--text-direction);
  overflow-wrap: break-word;
  text-align: start;
  --blendMode: normal;
  --min-height: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  pointer-events: auto;
  font: var(--font_9);
  color: rgb(var(--color_2));
  letter-spacing: 0em;
  margin-block: 0;
  margin: 0 0 56px 0;
  font-size: 16px;
  font-weight: 400;
}